<!-- flex-shrink-0 py-4 bg-dark text-white-50 -->
<!-- footer-style container-fluid text-center bg-dark  -->
<footer class="footer-style container-fluid text-center bg-p-light">
    <div class="footer-content">
        <p> &copy; Todos los derechos reservados 2022</p>
    </div>
</footer>    


<script src="{{url_for('static', filename = './js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename = './js/simpleParallax.min.js')}}"></script>
<script src="{{url_for('static', filename = './js/index.js')}}"></script>

<!-- carrousel de imagenes -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
