<!-- flex-shrink-0 py-4 bg-dark text-white-50 -->
<!-- footer-style container-fluid text-center bg-dark  -->
<footer class="footer-style container-fluid text-center bg-p-light">
    <div class="footer-content">
        <p> &copy; Todos los derechos reservados 2022</p>
    </div>
</footer>    


<script src="{{url_for('static', filename = './js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename = './js/simpleParallax.min.js')}}"></script>

<!-- carrousel de imagenes -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<!-- index.js -->
<script src="{{url_for('static', filename = './js/index.js')}}"></script>