<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <meta
  name="GenerarConciencia PWA"
  content="Informarte sobre los desastres naturales en Polonia, Alemania, Republica Dominicana, Chile y Argentina. Descubre que pasó antes, durante y después de la inundación de la Plata en 2013.">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static', filename = './img/logos/favicon.ico')}}" type="image/x-icon">
  <!-- estilo principal de la web -->
  <link rel="preload" href="{{url_for('static', filename = './css/bootstrap.min.css')}}" as="style">
  <link rel="stylesheet" href="{{url_for('static', filename = './css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"/> 
  <!-- leaflet css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="">
  
  <!-- estilo principal de la web -->
  <link rel="preload" href="{{url_for('static', filename = './css/main.css')}}" as="style">
  <link rel="stylesheet" href="{{url_for('static', filename = './css/main.css')}}">
  <title>Taekondo La Plata</title>
</head>