  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="{{url_for('static', filename = './img/logo640.webp')}}" width="90px" height="90px" alt="logo de taekondo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mx-auto mb-2 mb-md-0">
          <li class="nav-item mx-2">
            <a class="color-yellow1" href="#quien" >Quiénes somos</a>
          </li> 
          <li class="nav-item mx-2">
            <a class="color-yellow1" href="#sedes">Sedes y horarios</a>
          </li> 
          <li class="nav-item mx-2">
            <a class="color-yellow1" href="#membre">Membresía</a>
          </li> 
          <li class="nav-item mx-2">
            <a class="color-yellow1" href="#contac">Contacto</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>