@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

:root {
  /* black variations */
  --primary: #212121;
  --primary-light: #484848;
  --primary-dark: #000000;
  /* yellow variations */
  --secondary:#ffeb3b;
  --secondary-light:#ffff72;
  --secondary-dark:#c8b900;
  /*optional */
  --optional-white:#040404;
  /* text on parraph */
  --text-on-p:#fafafa;/*combinar con primary*/
  --text-on-s:#212121;/*combinar con secondary*/
}

/* utils */
.bg-p{
  background-color: var(--primary);
}

.bg-p-dark{
  background-color: var(--primary-dark)!important;
}

.bg-p-light{
  background-color: var(--primary-light)!important;
}

.bg-s{
  background-color: var(--secondary);
}

.bg-s-dark{
  background-color: var(--secondary-dark)!important;
}

.bg-s-light{
  background-color: var(--secondary-light)!important;
}

.bg-op-white{
  background-color: var(--optional-white);
}

.txt-color-sl{
  color: var(--secondary-light);
}

.txt-color-sd{
  color: var(--secondary-dark);
}


/* utils end */

html {
    scroll-behavior: smooth;
  }

body{
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 140px;
  background-color: var(--optional-white);
  color: var(--text-on-p);
}

.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.azul-marino-bg{
  background-color: #161827;
}

.txt-blanco{
  color: #ffffff;
}

.d-carousel{
  width: 50%;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 5rem;
  height: 5rem;
}


/* fondos */

.bg-img-yellow{
  background-image: url("./../img/yellow-powder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* colores de los cards */
.bg-rosa{
  background-color: #FFDFD5;
}


/* map */

#map {
  height: 400px; 
  position: relative; 
  outline: none;
}