{% extends 'partials/_layout.html' %}
{% block body %}

<div id="contac" class="container-md">
    <div class="abs-center">
        <h1>Contacto</h1>
    </div>
    
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, nam recusandae asperiores, reiciendis libero et aliquid aspernatur optio sequi hic possimus! Quisquam dicta, sequi excepturi reprehenderit officiis nostrum perferendis nesciunt!</p>
    
</div>
{% endblock %}