<div id="contac" class="container-md">
    <div class="abs-center">
        <h1>Contacto</h1>
    </div>
    
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, nam recusandae asperiores, reiciendis libero et aliquid aspernatur optio sequi hic possimus! Quisquam dicta, sequi excepturi reprehenderit officiis nostrum perferendis nesciunt!</p>
    
</div>

<div class="mx-auto abs-center">
    <img src="{{url_for('static', filename = './img/Facebook_f_logo.svg')}}" width="110px" height="110px" alt="logo de taekondo">
    <img src="{{url_for('static', filename = './img/logo_instagram.png')}}" width="110px" height="110px" alt="logo de taekondo">

    <img src="{{url_for('static', filename = './img/WhatsApp-logo.png')}}" width="110px" height="110px" alt="logo de taekondo">

</div>