{% extends 'partials/_layout.html' %}
{% block body %}
    <!-- Info del index-->
    
        <div class="container">
            <div class="container">
              <h2>Our Masters and Instructors</h2>
              <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium explicabo exercitationem placeat quasi, facere pariatur nam accusantium omnis suscipit voluptatem, laborum fuga eligendi quos laboriosam cum eos ab. Doloremque, repellat.
              </p>
              <!-- 1- imagen grande -->
              <div class="mb-4">
                <img class="card-img-right flex-auto d-none d-md-block" src="{{url_for('static', filename = './img/lugar.jpg')}}"  alt="Thumbnail [200x250]" data-holder-rendered="true" style="width: 100%; height: 100%;">
              </div>      
            </div>      
          
        <!-- otro carrousel menos piola -->
       
{% endblock %}
