{% extends 'partials/_layout.html' %}
{% block body %}
    <!-- Info del index-->
    
    <div class="parallax-container">
        <div class="parallax">
          <img  alt="mar y canoas" src="{{url_for('static', filename = './img/parallax1.jpg')}}" >
        </div>
    </div> 
    <div class="black white-text center">
      <div class="conteiner">
        <div class="section">
          <h3>lol que paso?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quos quod sed. Veritatis eius repellat aliquam, placeat sequi maiores natus debitis saepe cum necessitatibus nesciunt? In quam ea blanditiis cumque.</p>
        </div>
      </div>
    </div>
<!-- FIN Info del index -->
{% endblock %}
