{% extends 'partials/_layout.html' %} {% block body %}
<!-- Info del index-->
<div class="py-4">
  <h2 class="fs-1  text-center text-light">
    Asociación de tae kwon do y <br> hapkido de La Plata
  </h2>  
</div>

 
<section class="parrallax " id="seccion1">
  <div class="hero-info deg-dark-y">
      

  </div>
</section>

<div class="index_padding_noticias">


    <h2 class="fs-1 text-center my-4 text-light noticias_texto_index">
      Noticias
    </h2>


    <div class="espacio_3_index">
            <div class="intro__container">
              <img class="img_index"  src="/static/img/index/noticias/2.webp" alt="">
              <div class="intro">
                <h2>Titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem deserunt illo optio? Eum, provident. Praesentium quasi assumenda dolores deleniti error reiciendis eos dignissimos, saepe repellendus et. Sint unde architecto aliquid?</p>
              </div>
            </div>
            <div class="intro__container">
              <img class="img_index"  src="/static/img/index/noticias/2.webp" alt="">
              <div class="intro">
                <h2>Titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem deserunt illo optio? Eum, provident. Praesentium quasi assumenda dolores deleniti error reiciendis eos dignissimos, saepe repellendus et. Sint unde architecto aliquid?</p>
              </div>
            </div>
            <div class="intro__container">
              <img class="img_index"  src="/static/img/index/noticias/2.webp" alt="">
              <div class="intro">
                <h2>Titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem deserunt illo optio? Eum, provident. Praesentium quasi assumenda dolores deleniti error reiciendis eos dignissimos, saepe repellendus et. Sint unde architecto aliquid?</p>
              </div>
            </div>
            
    </div>

</div>


<!-- porque entrenar con nosotros -->
<div class="py-4">
  <h1 class="text-center mb-4">¿Qué involucra practicar Tae kwon do?</h1>
  <!-- <h2 class="fs-1  text-center text-light">
    Asociación de tae kwon do y <br> hapkido de La Plata
  </h2>   -->
</div> 


<section class=" m-0 p-0" style="height: 80%;">
<div>
  


  <div class="row m-0 p-4 text-dark">
    <div class="col-md-4 d-flex justify-content-center align-items-start mb-4">
      <div class="card" style="width: 18rem">
        <div class="card-header bg-verdeLight">
          <div class="d-flex justify-content-center align-items-center py-2">
              <img class="card-img-top img-card-wh46" src="{{url_for('static', filename = './img/icono/index-bandera.png')}}" alt="Card image cap" />
              <h4 class="mx-2 m-0">Arte marcial</h4>
          </div>
        </div>
        <div class="card-body text-dark">
          <p class="card-text fs-6">
            Todo el cuerpo es un arma. Además de las técnicas de golpes y bloqueos con todas las partes del cuerpo la práctica incluye caídas, agarres, puntos vitales, defensa contra armas y agresiones varias, lucha contra uno o varios oponentes, etc.!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-start mb-4">
      <div class="card" style="width: 18rem">
        <div class="card-header bg-verdeLight">
          <div class="d-flex justify-content-center align-items-center py-2">
            <img class="card-img-top img-card-wh46" src="{{url_for('static', filename = './img/icono/index-trofeo.png')}}" alt="Card image cap" />
  
            <h4 class="mx-2 m-0">Defensa Personal</h4>
          </div>
        </div>
        <div class="card-body text-dark">
          <p class="card-text fs-6">
            Ponemos énfasis en la necesidad de evitar cualquier confrontación, pero para casos de extrema necesidad, capacitamos al alumno para que las técnicas de defensa personal callejera resulten absolutamente efectivas, teniendo en cuenta el tamaño o contextura física de cada uno.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-start mb-4">
      <div class="card" style="width: 18rem">

        <div class="card-header bg-verdeLight">
          <div class="d-flex justify-content-center align-items-center py-2">
            <img class="card-img-top img-card-wh46" src="{{url_for('static', filename = './img/icono/index-medalla.png')}}" alt="Card image cap" />

            <h4 class="mx-2 m-0">Deporte Olímpico</h4>
          </div>
        </div>

        <div class="card-body text-dark">
          <p class="card-text fs-6">
            La faz deportiva del Taekwondo WTF es un moderno sistema de lucha cuya máxima exponencia es la participación en los Juegos Olímpicos.
A nivel nacional e internacional hay competencias de luchas y formas para todas las edades.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>  
  
</section>





<!-- notas: 
index
despues de beneficios:
1- porque entrenar con nosotros: texto y fin para el index.

footer: las redes sociañes ---- 
nota: el logo de wassap se repite en todas las paginas....

-->

{% endblock %}
