<div id="membre" class="container-md">
    <div class="abs-center">
        <h1>Membresía</h1>
    </div>

    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium explicabo exercitationem placeat quasi, facere pariatur nam accusantium omnis suscipit voluptatem, laborum fuga eligendi quos laboriosam cum eos ab. Doloremque, repellat.
    </p>
    <div class="mx-auto abs-center">
        <img src="{{url_for('static', filename = './img/logo640.webp')}}" width="110px" height="110px" alt="logo de taekondo">
        <img src="{{url_for('static', filename = './img/logo640.webp')}}" width="110px" height="110px" alt="logo de taekondo">
    
        <img src="{{url_for('static', filename = './img/logo640.webp')}}" width="110px" height="110px" alt="logo de taekondo">
    
    </div>
</div>
