{% extends 'partials/_layout.html' %}
{% block body %}

<div id="sedes" class="container-md">
  <div class="text-center txt-color-sl my-4">
    <h1>Sedes y horarios</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
  </div>
    
</div>
<div class="container-md">
  
 <div class="row">
  {% for profe in lista_profes %}
   <div class="col m-2">
      <div class="card card_rel card-radius-1" style="width: 18rem;">
        <img src={{profe.foto}} class="card-img-top" alt="...">
        <div class="card-body text-dark">
          <h3 class="text-center">{{profe.nombre}}</h3>
        </div>
        <div id="banner-{{loop.index}}" class="banner">
          <div class="row my-5 mx-auto text-dark">
            <p class="fs-5"><span class="text-uppercase fw-bold"> nombre:</span> {{profe.nombre}}</p>
            <p class="fs-5"><span class="text-uppercase fw-bold"> turno:</span> {{profe.turno}}</p>
            <p class="fs-5"><span class="text-uppercase fw-bold"> edad:</span> {{profe.edades}}</p>
            <p class="fs-5"><span class="text-uppercase fw-bold"> dias:</span> {{profe.dias}}</p>
            <!-- boton para cerrar el banner -->
            <button class="btn btn-warning text-uppercase fw-bold" onclick="toggleCard('banner-{{loop.index}}','banner--active')"> cerrar </button>    
          </div>
        </div>
        <!-- boton para abrir el banner -->
        <button class="btn btn-warning" onclick="toggleCard('banner-{{loop.index}}','banner--active')"> ver detalle </button>
      </div>
   </div>
  {% endfor %}
 </div>



</div>
{% endblock %}