{% extends 'partials/_layout.html' %}
{% block body %}
<!-- notas: aqui estan acumuladas todas las sedes de la siguiente manera
  1- el titulo de la sede
  2- card en carrousell del profe.
  4- mapa de la sede.
  (estos 4 se repiten en la misma pagina)
-->

<!-- nombre de la sede -->
<div class="fondo-color">
      <!-- <div class="centrar-div">
        <div id="kukkiwon" class="centrar-text bg-p-light py-3 text-center border anchuraCard">
          <h1 class="txt-color-sl">Academia kukkiwon</h1>
          <h2 class="tam_h2">Disciplina</h2>
        </div>
      </div> -->
      <section class="parrallax" id="seccion_sedes">
       
          
      </section>



      <div class="container-md ">
          
      <!-- carrousel de profes -->
      {% for val in lista_sedes %}
        <div class="espacio_cen border-top border-dark">
          <div class="espacio_3">
            
                <div class="my-4">
                  <span class="text-light"> {{val.nom_sede }}</span>
                  <p class="text-light">{{val.dir_sede }}</p>
                
                </div>
            
                <p class="text-light my-4"> {{val.turno }} </p>
                 <div>
                  <button tabindex="0" class="btn color-btn margin_card my-4"  data-bs-toggle="collapse" href={{ val.colapso_href }} role="button" aria-expanded="false" aria-controls="multiCollapseExample2"> ver detalle </button>         
               
                       <div class="row" >
                        <div class="col">
                          <div class="collapse multi-collapse" id={{ val.nom_sede }} >
                            <div class="card card-body tamaño ">
                              <p class="text-dark" style="font-size:11px ;"> {{ val.des_turno1 }} </p>
                              <p class="text-dark" style="font-size:11px ;"> {{ val.des_turno2 }} </p>
                              <p class="text-dark" style="font-size:11px ;"> {{ val.des_turno3 }} </p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
          </div>
        </div>
      
      {% endfor %}
      

      </div>
</div>
{% endblock %}
