:root {
    /* black variations */
    --primary: #212121;
    --primary-light: #484848;
    --primary-dark: #000000;
    /* yellow variations */
    --secondary:#ffeb3b;
    --secondary-light:#ffff72;
    --secondary-dark:#c8b900;
    /* text on parraph */
    --text-on-p:#fafafa;/*combinar con primary*/
    --text-on-s:#212121;/*combinar con secondary*/
  }
  
  .insta-color{
    /* width:100%; height:100%; */
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  
  }
  
  
  .btn-add-square{
    padding: 0.75rem!important;
  }
  
  .btn-link-sl{
    color: var(--verdeFuerte);
    /* border: 1px solid var(--secondary); */
    transition: all .3s ease-in;
    width: 95%;
  }
  
  @media (min-width: 768px){
    .btn-link-sl{
      width: auto;
    }   
  }
  
  .btn-link-sl:hover, .btn-link-sl:focus-within {
    background-color: var(--secondary);
    color: var(--text-on-s);
  }
  
  
  .btn-block{
    width: 100%;
  }
  
  
  /* estilos para el boton de whatsapp */
  
  .btn-color-whatsapp{
    color: #ffffff;
    background-color: #4dc247;
  }
  
  .btn-whatsapp{
  
    background-color: #4dc247;
  
    width: 6.125rem;
    height: 6.125rem;
    padding: 5px;
  
    border-radius: 50%;
    bottom: 14px;
    right: 16px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    direction: ltr;
    text-align: right;
    position: fixed !important;
    z-index: 16000160 !important;
  }
  @media (max-width: 768px){
      .btn-whatsapp{
        width: 4.125rem;
        height: 4.125rem;
      }   
  }

  .btn-whatsapp:hover{
    opacity: .8;
    box-shadow: rgb(0 0 0 / 70%) 2px 2px 11px;
  }
  
  .btn-whatsapp a img:hover{
    cursor: pointer;
  }