/* section#contact {
    background-color: #212529;
    background-image: url(../img/flyer-3.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width:768px) {
    section#contact {
        background-color: #212529;
        background-image: url(../img/flyer-3.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
} */

.page-section {
    padding: 12.8rem 0;
}

.redes_altura{
    margin-top: 8rem;
}
.icono_right{
   margin-right: 8rem;
}

.icono_left{
    margin-left: 8rem;
 }
.cont_text_area{

    width: 100%;
}
 .contenedor_form{
     display: flex;
     flex-direction: column;
     align-items: center;
     
     background-color: var(--primary-light);
 }
 .form_juntar_correo_asunto{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    gap: 2rem;
 }

 @media (max-width: 980px){
    .centrar-div-col {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    
  }


.margin_top{
    margin-top: 4rem;
}

.form-control {
    background-color: var(--primary-light)!important;
    color: var(--text-on-p)!important;
}

.placeholder {
    background-color: var(--primary-light)!important;
    color: var(--text-on-p)!important;
}

.contenedor_contacto{
    display: flex;
    justify-content: center;
}

.tamaño_formulario_img{
    width: 60%;
}

.btn-verde{
    background-color: var(--verdeFuerte);
}
