/* open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Source+Sans+Pro:wght@400;700;900&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* source sans pro */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap'); */
/* font-family: 'Source San', sans-serif; */

/* garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&display=swap');
/* font-family: 'EB Garamond', serif; */


:root {
  /* black variations */
  /* --primary: #212121;
  --primary-light: #484848;
  --primary-dark: #000000; */
  --primary: #404040;
  --primary-light: #595859;
  --primary-dark: #000000;
  /* yellow variations */
  --verdeFuerte: #d7f205;
	--verdeLight: #e2f263;
  --secondary:#E2F263;
  --secondary-light:#ffff72;
  --secondary-dark:#D7F205;
  /*optional */
  --optional-white:#F2F2F2;
  /* text on parraph */
  --text-on-p:#fafafa;/*combinar con primary*/
  --text-on-s:#212121;/*combinar con secondary*/
}

/* utils */
.bg-p{
  background-color: var(--primary);
}

.bg-p-dark{
  background-color: var(--primary-dark)!important;
}

.bg-p-light{
  background-color: var(--primary-light)!important;
}

.anchuraCard{
  width: 62rem;
  height: 6rem;
}
.centrar-div{
  display: flex;
  justify-content: center;
  padding: 4rem;

}
.centrar-div-col .col{
  padding: 2rem;
}
@media (max-width: 768px){
  .centrar-div-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
}
.centrar-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-s{
  background-color: var(--secondary);
}

.bg-s-dark{
  background-color: var(--secondary-dark)!important;
}

.bg-s-light{
  background-color: var(--secondary-light)!important;
}

.bg-op-white{
  background-color: var(--optional-white);
}

.txt-color-sl{
  color: var(--verdeFuerte);
  font-weight: 100 !important;
  font-size: calc(1.4em + 0vw)!important;
  font-family: "Open Sans"!important;
  font-weight: bold!important;
  height: 1rem;
}

.nom_mapa{
  color: var(--verdeFuerte);
  font-weight: 100 !important;
  font-size: calc(1.4em + 0vw)!important;
  font-family: "Open Sans"!important;
  font-weight: bold!important;
}
.tam_h2{
  font-weight: 100 !important;
  font-size: calc(1em + 0vw)!important;
  font-family: "Open Sans"!important;
  height: 1rem;
}

.txt-color-sd{
  color: var(--secondary-dark);
}


/* utils end */


html {
    scroll-behavior: smooth;
    line-height: 1.5;
  }

body{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding-top: 140px;
  background-color: var(--optional-white);
  color: var(--text-on-p);
}

/* encabezados */
h1,h2,h3,h4,h5{
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.p-rel{
  position: relative;
}

.azul-marino-bg{
  background-color: #161827;
}

.txt-blanco{
  color: #ffffff;
}

.d-carousel{
  width: 50%;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 5rem;
  height: 5rem;
  background-color: #404040;
}

.scale-x2{
  transition: all .4s ease-in-out;
}

.scale-x2:hover,.scale-x2:focus-within{
  transform: scale(1.2);
}


/* fondos */

/* .bg-img-yellow{
  background-image: url("./../img/yellow-powder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */


/* colores de los cards */
.bg-verdeLight{
  background-color: var(--verdeLight);
  transition: all .2s ease-in;
}

/* efecto para cambiar color cuando se pasa el curso por la tarjeta verdeLight */

.bg-verdeLight:hover{
  background-color: #404040;
  color: #E2F263!important;
  transform: scale(1.05);
}


/* map */

#map {
  height: 400px; 
  position: relative; 
  outline: none;
}


/* estilo para phrases section */

.section_phrases{
  margin: 0;
  padding: 3.2rem;
}


.container-card-phrases{
  width: 100%;
}

@media (min-width: 768px){
  .container-card-phrases{
    width: 55%;
  }
}

/* estilos para card img de index de porque entrenar con nosotros */

.img-card-wh46{
  width: 46px;
}


/* estilo para el hero del index */

.hero-info{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem;
  margin-top: 4rem;
  // padding: 0 4rem;
  width: 100%;
  height: 100%;
}

.deg-dark-y{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.5998774509803921) 20%, rgba(246,251,36,0) 35%, rgba(171,175,25,0) 71%, rgba(0,0,0,0.6362920168067228) 84%);
}

.margin-bene{
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.marginportada{
  margin-top: 20rem;
}
// estilos del mapa de las sedes
.estilo-mapa{
  height: 239px;
  width: 413px;
}
@media (max-width: 768px){
  .estilo-mapa{
    height: 200px;
    width: 250px;
  }
}
/* agregando parallax */
section{
  width: 100%;
  /* height: 100vh; */
  padding: 0;
  margin: 0;
}

.parrallax{
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
  height: 60vh;
}

#seccion1{
  background-image: url('../img/parralax/portada.webp');
}

#seccion2{
  background-image: url('../img/parralax/para2.png');
}

#seccion3{
  background-image: url('../img/parralax/para3.png');
}

#seccion4{
  background-image: url('../img/contacto/contacto.webp');
}

.margin-porque{
  margin-top: 2rem;
}

.fondo-color{
  
  background-color: var(--optional-white);
  }

.color-btn{
  background-color: var(--verdeFuerte);
}  
.distribucion_noticia{
  display: flex;

}

.intro__container{
  position: relative;
  overflow: hidden;
}


.intro{      
  font-size: .9em;
  font-weight: 500;
  padding: 1rem 1.6rem;
  height: 65%;
  width: 25rem;
  box-sizing: border-box;
  position: absolute;
  background: rgba(137,137,35,0.7411764706);
  color: #fff;
  bottom: 0;
  left: 0px;
  transition: .3s ease-in;
  border-radius: 25% 0% 100% 0%/46% 100% 0% 54%;
}
@media (min-width:768px) {
  .intro{
    bottom: -20%;
  }

  .intro__container:hover{
    .intro{
      bottom: 0;
    }
  }
}




.tamaño-col{
  width: 95%;
  height: 21rem;
  position: relative;
}