.nav-transition-1{
    transition: all .2s ease-in-out;
  }
  
  .nav--hidden{
    transform: translateY(calc(-1 * 328px));
  }
  .tamaño-li{
    font-size: calc(0.4em + 1vw);
    font-weight: bold;
  }
  
  @media (min-width: 768px){
    .nav--hidden{
      transform: translateY(calc(-1 * 130px));
    }    
  }

  .color_nav{
    background-color: #404040;
  }