.nav-transition-1{
    transition: all .2s ease-in-out;
  }
  
  .nav--hidden{
    transform: translateY(calc(-1 * 328px));
  }
  
  
  @media (min-width: 768px){
    .nav--hidden{
      transform: translateY(calc(-1 * 130px));
    }    
  }