.espacio_cen{
  display: grid;
    justify-items:center;
    margin-left: 4rem;
    margin-right: 4rem;
}
.espacio_3{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items:flex-start;
    gap: 1rem;
    margin-left: 16rem;
    margin-right: 4rem;
}
.centrar_sedes{
  display: grid;
  justify-items:center;
}

@media (max-width: 1040px){
    .espacio_3{
      justify-items:flex-start;
      gap: 3rem;
      margin-left: 0rem;
      margin-right: 0rem;

        
    }   
  }
@media (max-width: 768px){
    .espacio_3{
      grid-template-columns: repeat(1, 1fr); 
      justify-items:center;
      gap: 0rem;
      margin-left: 0rem;
      margin-right: 0rem;

        
    }   
    .espacio_cen {
      display: grid;
      justify-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
  }
}

  .acomodar_icon{
      margin-left: -6rem;
      margin-top: 7rem;
  }

  @media (max-width: 768px){
    .acomodar_icon{
        margin-left: 18rem;
        margin-top: 0rem;
    } 
  }
.fondo_mapa{
    // height: 30vh;
    // width: 100vh;
    width: 62rem;
    padding: 2rem;
    align-items: center;
    margin-top: 4rem!important;
    margin-bottom: 4rem!important;
    background-color:var(--primary-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.tamaño{
  width: 20rem;
}
.juntar_text_icono{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 768px){
  .fondo_mapa{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
}  
  .acomodar_icono_text{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
  
  }

  @media (max-width: 768px){
    .acomodar_icono_text{
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
      
      } 
  }

//   .margin_card{
//     margin-bottom: 4rem;
//   }